.game {
  --size: 64px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  width: calc( var(--size) * 4);  

  &__cell {
    display: inline-flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: var(--size);
    width: var(--size);
    border: 1px dotted grey;

    &::after {
      content: attr(data-value);
    }

    &_dnd {
      cursor: pointer;
    }
  }
}
